{% extends "layout.html" %}

{% block content %}
<!--   the syntax for template-->
    <main class="hero-section">
        <div class="container">
            <div class="section-content">
                <h2> Discover places nearby.</h2>
                <a href="{{url_for('signup')}}" class="btn-primary">Sign Up</a>
                <a href="{{url_for('about')}}" class="btn-secondary">Learn More</a>
            </div>
            <div class="section-device">
                <img src="https://s22.postimg.cc/j98gwsuy9/device.png" alt="Sign up to visit places near you">
            </div>
            <div class="clearfix">
                
            </div>
        </div>
    </main>
{% endblock %}